body {
  font-family: 'Segoe UI', sans-serif;
  background: #f1f3f4;
  margin: 0;
}

/* Container */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(186, 186, 231);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  text-decoration: none;
  background: #202124;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

/* Note Input */
.note-form {
  background: white;
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.note-form input,
.note-form textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 15px;
}

.note-form textarea {
  resize: none;
}

.note-form button {
  background: #fbbc04;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.notes {
  column-count: 3;
  column-gap: 45px;
  padding-top: 0px;
}

.note-card {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;

  padding: 15px;
  border-radius: 12px;

  border: 1px solid #e0e0e0;
  background: #fff;

  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  break-inside: avoid;   /* 🔥 VERY IMPORTANT */

  
  border: 1px solid rgb(102, 102, 235);
  position: relative;
}

.note-card:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.19);
}

/* Add Google Keep Colors */
.note-yellow { background: #fff9c4; }
.note-green  { background: #ccff90; }
.note-blue   { background: #a7ffeb; }
.note-pink   { background: #f8bbd0; }
.note-purple { background: #d1c4e9; }


/* Actions */
.actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  gap: 0px;
}

.actions a,
.actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Icon Button */
.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #5f6368;
  padding: 6px;
  border-radius: 50%;
  transition: 0.2s;
}

/* Hover Effect */
.icon-btn:hover {
  background: #e6e613;
  color: #202124;
}

/* edit-note.js */
.edit-page .container {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;

  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.edit-page input,
.edit-page textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;

  border: 1px solid #ddd;
  border-radius: 8px;
}

.edit-page button {
  background: #fbbc04;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-page a {
  display: inline-block;
  margin-top: 15px;
  color: #5f6368;
}

/*  */

@media (max-width: 900px) {
  .notes {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .notes {
    column-count: 1;
  }
}